services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - airflow-network

  airflow-webserver:
    image: apache/airflow:2.7.0
    environment:
      AIRFLOW__WEBSERVER__SECRET_KEY: "my_secret_key_123"
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'true'
      AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - ./src:/opt/airflow/src
    ports:
      - "8080:8080"
    links:
      - postgres
    command: >
      bash -c "sleep 20 && 
               airflow db init &&
               airflow users create --username airflow --password airflow --firstname Air --lastname Flow --role Admin --email admin@example.com &&
               airflow webserver"
    depends_on:
      - postgres
    networks:
      - airflow-network

  airflow-scheduler:
    image: apache/airflow:2.7.0
    environment:
      AIRFLOW__WEBSERVER__SECRET_KEY: "my_secret_key_123"
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./scripts:/opt/airflow/scripts
      - ./data:/opt/airflow/data
      - ./src:/opt/airflow/src
    links:
      - postgres
    command: >
      bash -c "sleep 30 && 
               airflow scheduler"
    depends_on:
      - postgres
      - airflow-webserver
    networks:
      - airflow-network

networks:
  airflow-network:
    driver: bridge

volumes:
  postgres_data: